<p id="notice"><%= notice %></p>

<h1>Test Airtons</h1>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Nome</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @test_airtons.each do |test_airton| %>
      <tr>
        <td><%= test_airton.id %></td>
        <td><%= test_airton.nome %></td>
        <td><%= link_to 'Show', test_airton %></td>
        <td><%= link_to 'Edit', edit_test_airton_path(test_airton) %></td>
        <td><%= link_to 'Destroy', test_airton, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Test Airton', new_test_airton_path %>
