<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @test_airton.id %>
</p>

<p>
  <strong>Nome:</strong>
  <%= @test_airton.nome %>
</p>

<%= link_to 'Edit', edit_test_airton_path(@test_airton) %> |
<%= link_to 'Back', test_airtons_path %>
