
<%= render partial: "partial" %>

<p id="notice"><%= notice %></p>

<p>
  <strong>Full Name:</strong>
  <%= @quote.full_name %>
</p>

<p>
  <strong>Phone Number:</strong>
  <%= @quote.phone_number %>
</p>

<p>
  <strong>Quality selected:</strong>
  <%= @quote.quality %>
</p>

<p>
  <strong>Estimate number of elevators needed:</strong>
  <%= @quote.number_elevator %>
</p>

<p>
  <strong>Total Estimation:</strong>
  <%= @quote.total_price %>
</p>

<%= link_to 'Edit', edit_quote_path(@quote) %> |
<%= link_to 'Back', quotes_path %>


   <%# add_column :quotes, :full_name ,:string
    add_column :quotes, :phone_number ,:string
    add_column :quotes, :building_type, :string
    add_column :quotes, :quality, :string
    add_column :quotes, :elevator_price ,:float
    add_column :quotes, :installation_price ,:float
    add_column :quotes, :number_elevator ,:float
    add_column :quotes, :total_price ,:float
    add_column :quotes, :number_floor, :integer
    add_column :quotes, :number_appartment, :integer
    add_column :quotes, :number_basement, :integer
    #####  Peut-être simplement faire une seule column pour certaines données afin d'éviter la surchage 
    add_column :quotes, :number_parking_space, :integer
    add_column :quotes, :maximum_occupant_per_floor, :integer
    add_column :quotes, :hour_of_activity, :integer
    add_column :quotes, :number_of_elevators_cage, :integer
    add_column :quotes, :number_of_trade_market, :integer
    add_column :quotes, :number_of_distinct_business, :integer %>