<p id="notice"><%= notice %></p>

<p>
  <strong>Fullname:</strong>
  <%= @dom_quote.FullName %>
</p>

<p>
  <strong>Phonenumber:</strong>
  <%= @dom_quote.PhoneNumber %>
</p>

<p>
  <strong>Numberapp:</strong>
  <%= @dom_quote.NumberApp %>
</p>

<p>
  <strong>Numberfloor:</strong>
  <%= @dom_quote.NumberFloor %>
</p>

<p>
  <strong>Numberbasement:</strong>
  <%= @dom_quote.NumberBasement %>
</p>

<p>
  <strong>Numberdistinct:</strong>
  <%= @dom_quote.NumberDistinct %>
</p>

<p>
  <strong>Numberparking:</strong>
  <%= @dom_quote.NumberParking %>
</p>

<p>
  <strong>Maxpersonfloor:</strong>
  <%= @dom_quote.MaxPersonFloor %>
</p>

<p>
  <strong>Numbertrades:</strong>
  <%= @dom_quote.NumberTrades %>
</p>

<p>
  <strong>Numbercages:</strong>
  <%= @dom_quote.NumberCages %>
</p>

<p>
  <strong>Hractivity:</strong>
  <%= @dom_quote.HrActivity %>
</p>

<p>
  <strong>Id:</strong>
  <%= @dom_quote.ID %>
</p>

<%= link_to 'Edit', edit_dom_quote_path(@dom_quote) %> |
<%= link_to 'Back', dom_quotes_path %>
